html {
    background-color: rgb(48, 48, 48)
}
h1 {
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color:white;
    font-size: 45px
}
sub {
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: none;
    text-align: left;
    color:white;
    font-size: 16px
}
h2 {
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: none;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 36px
}
h3 {
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: none;
    text-align: center;
    color:white;
    font-size: 32px
}
h4 {
  font-family: Tahoma, Geneva, sans-serif;
    text-transform: none;
    text-align: center;
    color:white;
    padding: 0px 0px;
    font-size: 24px
}
p {
  font-family: Tahoma, Geneva, sans-serif;
    text-transform: none;
    text-align: center;
    color:rgb(66, 66, 66);
    font-size: 24px
}
.p2 {
  font-family: Tahoma, Geneva, sans-serif;
    text-transform: none;
    text-align: center;
    color:rgb(66, 66, 66);
    font-size: 24px
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
  }
  br {
    line-height: 50%
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 24px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: rgb(139, 139, 139);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: gray;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .block2 {
    display: block;
    width: 100%;
    border: none;
    background-color: #555;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
  }
  .btn {
    background-color: gray;
    border: none;
    color: black;
    padding: 8px 24px;
    text-align: center;
    font-size: 16px;
    margin: 5px 16px;
    transition: 0.3s;
  }
  .btn:hover {
    background-color: white;
    color: black;
  }
  .block2:hover {
    background-color: white;
    color: black;
  }
  .table, .th, .td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    max-width: 500px;
  }
  .help-right {
    width: 50%;
    text-align: right;
      float: right;
  }
  .help-left {
    width: 50%;
      float: left;
  }
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  #Provinces {background-color: gray;}
  #Research {background-color: gray;}
  #Overview {background-color: gray;}
  #Military {background-color: gray;}